In [2]:
def air_triangle(base,hauteur):
    return base*hauteur/2

print(air_triangle(10,100))
print(air_triangle(30,10))

500.0
150.0

In [3]:
triangle1 = air_triangle(30,40)
triangle2 = air_triangle(50,20)

triangle1 >= triangle2

True

# Les tableaux (listes)

In [17]:
print(listeTexte[0])
print(listeTexte[1])

aaa
bbb

In [19]:
nombres=[0,5,6,7,4]
print(nombres[0])
print(nombres[1])
print(nombres[2])

0
5
6

In [23]:
nombres=[0,5,6,7,4]
for i in nombres:
    #boucle
    print("nombre: "+str(i))

nombre: 0
nombre: 5
nombre: 6
nombre: 7
nombre: 4

In [16]:
# [ ]
liste = [7,4,2,1,0]
print(liste)
liste.sort()
print(liste)
liste.remove(2)
print(liste)
liste.append(1000)
print(liste)
listeTexte = ["aaa","bbb","ccc"]
print(listeTexte)

[7, 4, 2, 1, 0]
[0, 1, 2, 4, 7]
[0, 1, 4, 7]
[0, 1, 4, 7, 1000]
['aaa', 'bbb', 'ccc']

In [27]:
nombres=[0,5,6,7,4]
print(nombres)
# ajouter 10 à chacun des nombres
print([10,15,16,17,14])

[0, 5, 6, 7, 4]
[10, 15, 16, 17, 14]

In [35]:
listeTexte = ["aaa","bbb","ccc"]
print(listeTexte)
print(listeTexte[1])
listeTexte[1] = "nouveau"
print(listeTexte)
for i in listeTexte:
    ...

['aaa', 'bbb', 'ccc']
bbb
['aaa', 'nouveau', 'ccc']

1. Créer une liste
2. Imprimer la liste
3. changer un élément
4. imprimer la nouvelle liste
5. Utiliser "for i in nom_de_la_liste" pour imprimer les éléments

In [48]:
liste = [9,5,6,7]
print(liste[0])
liste[0]=10
for i,n in enumerate(liste):
    print("valeur de i: "+str(i))
    print("valeur de n: "+str(n))
    print("-----")
liste = [19,15,16,17]

9
valeur de i: 0
valeur de n: 10
-----
valeur de i: 1
valeur de n: 5
-----
valeur de i: 2
valeur de n: 6
-----
valeur de i: 3
valeur de n: 7
-----

In [57]:
liste = [9,5,6,7]
print(liste)
for i,n in enumerate(liste):
    liste[i] = n+10

print(liste)

[9, 5, 6, 7]
[19, 15, 16, 17]